<p id="notice"><%= notice %></p>

<p>
  <strong>Oganization name:</strong>
  <%= @company.oganization_name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @company.industry %>
</p>

<p>
  <strong>Headquater:</strong>
  <%= @company.headquater %>
</p>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
